@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply rounded-sm py-1 px-2 cursor-pointer tracking-wider;
}

.btn-primary {
  @apply bg-primary-500;
  color: white;
}

.passion-banner::after {
  content: url(/images/passion-arrow-1.png);
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  bottom: 50px;
  right: 50px;
}

.passion-banner::before {
  content: url(/images/passion-arrow-2.png);
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  bottom: 50px;
}

body {
  background-image: url('/images/banner-image.png');
  background-repeat: no-repeat;
  background-size: cover;
}