@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply rounded-sm py-1 px-2 cursor-pointer tracking-wider text-white;
}

.btn.disabled {
  @apply opacity-40;
}

.btn-primary {
  @apply bg-primary-500;
}

.btn-primary:hover {
  @apply bg-primary-600;
}

.btn-secondary {
  @apply border border-primary-500 text-primary-500;
}

.btn-secondary:hover {
  @apply border-primary-600 text-primary-600
}

.btn-ghost {
  @apply text-primary-500;
}

.btn-ghost:hover {
  @apply text-primary-600;
}

a {
  outline: none;
  padding: 2px 1px 0;
  text-decoration: none;
}

a:link {
  @apply text-primary-500;
}

a:visited {
  @apply text-primary-700;
}

a:focus {
  text-decoration: underline;
}

a:hover {
  @apply text-primary-600;
}

a:active {
  text-decoration: underline;
}

body {
  background-image: url('/images/banner-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Red Hat Display';
}

body.journey {
  background-image: url('/images/background.png');
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url('/images/banner-image-lg.png');
  }
  
  body.journey {
    background-image: url('/images/background-lg.png');
  }
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'CabinetGrotesk-Variable';
}