@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;600;700&display=swap');

@font-face {
  font-family: 'CabinetGrotesk-Variable';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Variable.woff2') format('woff2'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Variable.woff') format('woff'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Variable.ttf') format('truetype');
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
}


@font-face {
  font-family: 'CabinetGrotesk-Thin';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Thin.woff2') format('woff2'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Thin.woff') format('woff'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Thin.ttf') format('truetype');
        font-weight: 100;
        font-display: swap;
        font-style: normal;
}


@font-face {
  font-family: 'CabinetGrotesk-Extralight';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Extralight.woff2') format('woff2'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Extralight.woff') format('woff'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Extralight.ttf') format('truetype');
        font-weight: 200;
        font-display: swap;
        font-style: normal;
}


@font-face {
  font-family: 'CabinetGrotesk-Light';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Light.woff2') format('woff2'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Light.woff') format('woff'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Light.ttf') format('truetype');
        font-weight: 300;
        font-display: swap;
        font-style: normal;
}


@font-face {
  font-family: 'CabinetGrotesk-Regular';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Regular.woff2') format('woff2'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Regular.woff') format('woff'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Regular.ttf') format('truetype');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
}


@font-face {
  font-family: 'CabinetGrotesk-Medium';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Medium.woff2') format('woff2'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Medium.woff') format('woff'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Medium.ttf') format('truetype');
        font-weight: 500;
        font-display: swap;
        font-style: normal;
}


@font-face {
  font-family: 'CabinetGrotesk-Bold';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Bold.woff2') format('woff2'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Bold.woff') format('woff'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Bold.ttf') format('truetype');
        font-weight: 700;
        font-display: swap;
        font-style: normal;
}


@font-face {
  font-family: 'CabinetGrotesk-Extrabold';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.woff2') format('woff2'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.woff') format('woff'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.ttf') format('truetype');
        font-weight: 800;
        font-display: swap;
        font-style: normal;
}


@font-face {
  font-family: 'CabinetGrotesk-Black';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Black.woff2') format('woff2'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Black.woff') format('woff'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Black.ttf') format('truetype');
        font-weight: 900;
        font-display: swap;
        font-style: normal;
}
